/* Styles for classes on all pages! (No html tags!) */

.hide-xs-sm { display: none; }
.show-xs-sm { display: block; }

@media (min-width: 768px) {
  .hide-xs-sm { display: block; }
  .show-xs-sm { display: none; }
}

.text-centered {
  text-align: center;
}

.font-dosis {
  font-family: 'Dosis', 'Noto Sans KR', sans-serif;
}

.font-titillium {
  font-family: 'Titillium Web', 'Noto Sans KR', sans-serif;
}

.vertical-space {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
