/* TEXT
1- rgba(255,200,190,1)
2- rgba(255,190,180,0.8)
3- rgba(255,170,160,1)
*/


.icon {
  width: 3em;
}

.head {
  background: linear-gradient(rgba(255,200,190,1), rgba(255,170,160,0.0));
  padding-top: 2rem;
  padding-bottom: 2rem;
}
