.icon {
  width: 3em;
}

.About {
  height: 70rem;
  background: linear-gradient( rgba(255,120,140,1) 10%, rgba(255,180,190,0.7) 70%, rgba(230,170,180,0) 100%);
  padding-top: 4rem;
  padding-bottom: 10rem;
}

.About h4 {
  font-family: 'Titillium Web', 'Noto Sans KR', sans-serif ;
  padding-top: 3rem;
  weight: 600 ;
  color: rgba(50,90,50,1);
}

.About p {
  color: var(--pink1)
}

.About .icon {
  size: 2rem;
  padding-top: 10rem;
}
