/*
1- rgba(255,200,190,1)
2- rgba(255,190,180,0.8)
3- rgba(255,170,160,1)
*/



.navbar {
  position: fixed;
  text-align: right;
  font-size: 0.9rem;
  text-decoration: overline;
  top: 0.9rem;
  left: 0;
  right: 0.3rem;
}

.navbar a {
  vertical-align: middle;
  margin-right: 1rem;
  text-decoration: none;
  color: rgba(255,170,160,0.8);
}
