.Art {
  background:
  linear-gradient(
    rgb(130,75,90) 0%,
    rgb(60,40,65) 20%,
    rgb(45,50,80) 75%,
    rgb(110,65,75) 100%
    );
}


.Art h1 {
  color: rgb(255,150,160);
}

.Art h2, h3 {
  color: rgb(255,130,140);
}

.Art hr {
  border-bottom: 0.5px solid var(--pink4);
}

.Art b {
  font-size: 1.1rem;
  color: var(--pink444);
  padding-bottom: 0;
  margin-top: 0rem;
}


.Art small {
  font-size: 0.9rem;
}

.Art sub {
  font-weight: 400;
  color: var(--pink4);
}
