/*
1- rgba(255,200,190,1)
2- rgba(255,190,180,0.8)
3- rgba(255,170,160,1)
*/


.Front {
  height: 11rem ;
  padding-top: 4rem ;
  padding-bottom: 1rem ;
  background: linear-gradient(rgba(40,40,100,0.9) 0%, rgba(165,99,133,0.6) 70%, rgba(165,99,133,0) 100%) ;
}

.Home {
  background-color: rgba(40,30,70,0.0)
}
