.Home .front {
  background: linear-gradient(
    rgba(90, 90, 110, 1) 0%,
    rgba(200, 120, 130, 0.5) 70%,
    rgba(255, 200, 190, 0) 100%
  );
}
.Home {
background: rgb(219,200,195);
}

.Home .front h2 {
  color: rgba(255, 200, 190, 1);
}

.Home .front .subtitle {
  color: rgba(255, 190, 180, 0.8);
  font-size: 1.1rem;
}

.Home .front .subsubtitle {
  color: rgb(250, 190, 180);
  font-weight: 300 ;
  font-size: 0.9rem;
}

.st2 {
  opacity:0.6;
  fill:#F16C6D;
}
