.Home .front {
  height: 22rem;
  background: linear-gradient(
    rgba(110, 85, 120, 1) 0%,
    rgba(200, 100, 110, 0.6) 60%,
    rgba(255, 200, 190, 0) 100%
  );
}
.Home {
background: linear-gradient(
  rgb(235,215,210) 0%,
  rgb(230,220,218) 20%
  );
}

.Home .front h2 {
  color: rgba(255, 200, 190, 1);
}

.Home .front .subtitle {
  color: rgba(255, 190, 180, 0.8);
  font-size: 1rem;
  padding-top: -1rem;
}

.Home .front .subsubtitle {
  color: rgb(250, 190, 180);
  font-weight: 300 ;
  font-size: 0.9rem;
  margin-top: -0.5rem;
}

.st2 {
  opacity:0.6;
  fill:#F16C6D;
}
