/* rgb(250, 189, 52) main yellow
rgba(128, 107, 80, 0.6) brown
rgba(154, 140, 120, 0.5) grey background */



.App {
  text-align: center;
  background-color: rgba(154, 140, 120, 0.4);
  font-size: 13px;
}

.App-logo {
  animation: App-logo-dimming infinite 20s linear;
  height: 70px;
}

.App-header {
  background: linear-gradient(rgb(250, 189, 52), rgba(250, 189, 52, 0.0));
  height: 210px;
  padding: 10px;
}

.App-title {
  font-size: 0.9rem;
  font-family: sans-serif;
  color : rgba(255, 255, 255, 0.8);
}

.App-sub {
  font-size: 0.6rem;
  color : rgba(255, 255, 255, 0.7);
  margin-top: -0.7rem;
}

.App-intro {
  font-size: 0.6rem;
  color : rgba(255, 255, 255, 0.7);
  padding-top: 0rem ;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Start manual overrides of the react-flexbox-grid css module */
.container-fluid {
  padding: 0;
}
.row {
  margin-right: 0;
  margin-left: 0;
}

[class^="col-"] {
  padding: 0.1rem; /* 0.1rem = 16px * 0.1 = 1.6px. awkward. blurry on old screens. */
}
/* End manual overrides of the react-flexbox-grid css module */

.p {
  font-size: 0.6rem ;
  color : rgb(128, 107, 80);
}

.icon {
  height: 2.3rem;
  padding: 1px;
}
