/* rgb(250, 189, 52) main yellow
rgba(128, 107, 80, 0.6) brown
rgba(154, 140, 120, 0.5) grey background */
/*'Titillium Web' 300,400,700
Dosis 300 400 500 700*/


.App {
  font-family: 'Titillium Web', sans-serif, noto-sans;
  font-weight: 300;
  text-align: center;
  background-color: rgba(154, 140, 120, 0.5);
  font-size: 15px;
}

.App-logo {
  animation: App-logo-dimming infinite 20s linear;
  height: 70px;
}

.App-header {
  background: linear-gradient(rgb(250, 189, 52), rgba(250, 189, 52, 0.0));
  height: 210px;
  padding: 10px;
}

.App-title {
  font-size: 1rem;
  font-family: 'Dosis', sans-serif, noto-sans;
  font-weight: 500;
  color : rgba(255, 255, 255, 0.8);

}

.App-sub {
  font-size: 0.75rem;
  color : rgba(255, 255, 255, 0.8);
  margin-top: -0.7rem;


}

.App-intro {
  font-family: 'Titillium Web' , noto-sans;
  font-size: 0.68rem;
  color : rgba(255, 255, 255, 0.8);
  padding-top: 0rem ;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Start manual overrides of the react-flexbox-grid css module */
.container-fluid {
  padding: 0;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

[class^="col-"] {
  padding: 0 ; /* 0.1rem = 16px * 0.1 = 1.6px. awkward. blurry.*/
}
/* End manual overrides of the react-flexbox-grid css module */

h1,
h2,
h3,
h4 {
  font-family: 'Titillium Web', Noto Sans;
  font-weight: 400;
}

p {
  font-family: 'Titillium Web', Noto Sans;
  font-size: 0.7rem ;
  color : rgb(128, 107, 80);

}

.icon {
  height: 2.3rem;
  padding: 0;
}
