html {
  --main-yellow: rgb(250, 189, 52);
  --brown: rgba(128, 107, 80, 0.8);
  --grey-background: rgba(154, 140, 120, 0.5);

  --pink1: rgba(255,210,215,1);
  --pink2: rgba(255,190,180,0.8);
  --pink3: rgba(170,150,150,1);
}

body {
  font-family: 'Titillium Web', sans-serif, noto-sans, 나눔고딕;
  font-size: 15px;
  background-color: var(--pink1);
  color: white;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  shape-outside: padding-box;
  margin: 0;
  padding: 0rem;
  height: auto;
}

hr {
  border: none;
  border-bottom: 1px solid var(--pink3);
  margin: 0;
}

h2 {
  font-weight: 400;
  margin-bottom: -0.6rem;
}

h3, h4 {
  font-weight: 400;
  color: var(--pink1);
}

p {
  font-size: 0.9rem;
  font-weight:300;
  color: var(--pink3);
}


li {
font-size: 0.85rem;
padding-bottom: 0.45rem;
color: var(--pink3);
weight: 400 ;
}
