html {
  --main-yellow: rgb(250, 189, 52);
  --brown: rgba(128, 107, 80, 0.8);
  --grey-background: rgba(154, 140, 120, 0.5);

  --pink1: rgba(255,230,225,1);
  --pink2: rgba(255,190,180,0.8);
  --pink33: rgb(230,130,130,1);
  --pink333: rgb(230,150,150,1) ;
  --pink3: rgba(200,150,150,1);
  --pink4: rgba(190,110,110,1);

}

body {
  font-family: 'Titillium Web', 'Noto Sans KR', sans-serif;
  font-size: 15px;
  line-height: 1.5rem;
  background-color: var(--pink1);
  color: white;
  margin: 0;
  padding: 0;
}

@media (min-width: 1024px) {
  body {
    font-size: 16px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  border: none;
  border-bottom: 1px solid var(--pink3);
}

h2 {
  font-weight: 400;
  margin-bottom: -0.6rem;
}


h3 {
  font-weight: 600;
  color: var(--pink1);
}


h4 {
  font-weight: 400;
  color: var(--pink1);
}

p {
  font-size: 0.95rem;
  font-weight:300;
}

li {
  font-size: 0.85rem;
  padding-bottom: 0.5rem;
  color: var(--pink3);
  weight: 400;
}

.container-fluid {
  margin: 0 auto; /* Keep in the middle of the page */
  max-width: 1200px; /* Max width on all the <Grid /> components */
}
