html {
  --main-yellow: rgb(250, 189, 52);
  --brown: rgba(128, 107, 80, 0.6);
  --grey-background: rgba(154, 140, 120, 0.5);
}

body {
  font-family: 'Titillium Web', sans-serif;
  background-color: var(--grey-background);
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  border: none;
  border-bottom: 1px solid var(--brown);
  margin: 2rem 0;
}
